doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
  style.
    body { margin:0; padding:0; }

  body
    .strings
      for string in strings
        .string= string
