doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/stringgun.css')
    
  body(class="target-page")
    .strings
      for string in strings
        .string
          span= string
