/* index page */

@import url('http://fonts.googleapis.com/css?family=Rajdhani');
@import url('http://fonts.googleapis.com/css?family=Lato');

.index-page {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', 'Helvetica', 'sans-serif';
  background: #fff4de;
}

hr {
  margin: 0;
  border: none;
  height: 50px;
  background-color: black;
}

pre {
  margin: 0 0 8px 0;
  border: 0px solid #c5888d !important;
  padding: 10px !important;
  background-color: #fff !important;
  overflow: scroll !important;
}

a, a:visited {
  text-decoration: none;
  color: #fb696e;
}

h1,h2,h3 {
  margin: 0;
}
h1 {
  font-size: 18.3vw;
  padding: 0px 20px 50px 20px;
}
h2 {
  padding: 0px 20px 0px 40px;
  font-size: 2.2vw;
  text-align: center;
  letter-spacing: 0.6em;
  color: #555;
}
h3 {
  padding-bottom: 10px;
}

#main-box {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
  background-image: url("images/mb.svg");
  background-repeat: no-repeat;
/*  background-position: 100% 0%; */
/*  background-size: contain;*/
  background-position: 0% 100%;
  background-size: auto 100%;
}

.info {
  font-size: 120%;
  padding: 20px 10% 20px 10%;
}

.bullets {
  margin-top: 100px;
  background-color: rgba(230, 230, 230, 0.9);;
}

.bullet {
  list-style-type: none;
  font-style: bold;
  font-size: 180%;
  width: 30%;
  text-align: center;
  display: inline-block;
  transition-duration: 0.2s;
  transition-property: transform;
  transform-origin: 0 100%;
  transform: translateZ(0);
  text-shadow: 1px 1px 0px rgba(140, 140, 140, 0.6);
}

.bullet:hover {
  transform: skew(-20deg);
}
.bullet a {
  padding: 0;
  margin: 0;
  display: block;
}

.code {
  font-family: "courier", "monospace";
}

/* target page */
.target-page {
  margin: 20px;
  padding: 0;
  font-family: "courier", "monospace";
  font-size: 13px;
}

.string:hover {
  background-color: beige;
}
